@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Inter:wght@400;600&display=swap');

* {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body {
  margin: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {  
  margin: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  height: 45px;
  width: 95px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: rgba(238, 29, 82, 0.9);
}

h2 {
  font-family: 'Boogaloo', cursive;
  font-weight: 600;
  font-size: 20px;
}

.container {
    width: 100%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirmpt1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#c2 {
  color: rgba(238, 29, 82, 0.9);
}

#submit {
    margin-top: 60px;
}

#logo {
    font-family: 'Boogaloo', cursive;
    font-size: 32px;
}

/*for tablet*/
@media (min-width: 480px) {
  header, main {   
    margin-top: 60px;
    max-width: 600px;
  }

  button {
    font-size: 20px;
    height: 60px;
    width: 145px;
  }

  h2 {
    font-size: 24px;
  }

  #logo {
    font-size: 48px;
  }
}

/*for desktop*/
@media (min-width: 900px) {
  body {
    margin: 0 50px;
    margin-top: 80px;
  }

  header, main {   
    margin-top: 80px;
    max-width: 800px;
  }

  button {
    height: 75px;
    width: 160px;
  }
}

